@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.card-principal {
    height: 450px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-left {
    height: 450px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4634F3;
    border-radius: 20px;
}

.card-left h3 {
    margin-top: -30px;
    font-weight: bold;
    color: #a38cf8;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.164);
}

.card-left h1 {
    color: whitesmoke;
    margin-top: 10px;
}

.card-left p {
    text-align: center;
    color: #a188fd;
    margin-top: 0px;
}

.result {
    height: 150px;
    width: 150px;
    background-color: #3721c5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    margin-top: 30px;
}

.result h1 {
    font-size: 3.5em;
    color: whitesmoke;
}

.result p {
    font-size: .8em;
    font-weight: bold;
    color: #ac95ff;
}

.card-right {
    height: 450px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.096);
    background-color: white;
}

.card-right h1 {
    font-size: 1.5em;
    color: #757579;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.right-container {
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-reaction {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #fde8e3;
    border-radius: 10px;
    margin: 10px 0px;
}

.reaction-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.reaction-titulo h3 {
    color: #ff5f5f;
    font-size: 1em;
}

.div-memory {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #EEE5B8;
    border-radius: 10px;
    margin: 10px 0px;
}

.memory-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95px;
}

.memory-titulo h3 {
    color: #f8c860;
    font-size: 1em;
}

.div-verbal {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #d7f3f0;
    border-radius: 10px;
    margin: 10px 0px;
}

.verbal-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
}

.verbal-titulo h3 {
    color: #6FD8BF;
    font-size: 1em;
}

.div-visual {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #e4e4fd;
    border-radius: 10px;
    margin: 10px 0px;
}

.visual-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83px;
}

.visual-titulo h3 {
    color: #1F31D8;
    font-size: 1em;
}

button {
    margin-top: 10px;
    padding: 10px 10px;
    width: 80%;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background-color: #303C58;
    cursor: pointer;
    color: whitesmoke;
}

button:hover {
    background-color: #2a3550;
    transition: 1s;
}

@media (max-width: 660px) {
    .card-principal {
        height: 400px;
        width: 500px;
    }
    
    .card-left {
        height: 400px;
    }

    .card-right {
        height: 400px;
    }
}

@media (max-width: 505px) {
    .card-principal {
        height: 600px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-left {
        height: 50%;
        width: 400px;
    }

    .card-left h3{
        margin-top: -10px;
    }

    .result {
        height: 130px;
        width: 130px;
        margin-top: 20px;
    }

    .card-right {
        height: 50%;
        width: 400px;
    }

    .right-container {
        height: 200px;
    }

    button {
        margin-top: 5px;
    }
}

