@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-principal {
    height: 450px;
    width: 650px;
    border: 1px solid red;
}

.card-left {
    height: 450px;
    width: 50%;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}